<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h2 class="DD">{{title}}</h2>
  <a (click)="showDetails()">All Detail</a>
  <a (click)="showFname()">First Name</a>
  <a (click)="showLname()">Last Name</a>
  <a (click)="showAge()">Age</a>
  <a (click)="showAddress()">Address</a>
  <a (click)="showContact()">Contact</a>
  {{showFname()}}

<div class="piped-data">
  <h3>Piped-data</h3>
  <p>{{showDetails2() | json}}</p>
  <p>{{fname | json}}</p>
  <p>{{lname | uppercase}}</p>
  <p>{{age | percent}}</p>
  <p>{{address | titlecase}}</p>
  <p>{{contact}}</p>
  </div>
</body>
</html>


